<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	 <http:listener-config name="retriveconsolidatedroutesandschedules-expapi-httpListenerConfig">
        <http:listener-connection host="${secure::http.host}" port="${secure::http.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="mule123" password="mule123" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="retriveconsolidatedroutesandschedules-expapi-config" api="retriveconsolidatedroutesandschedules-expapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="1be1a1c3-5e87-45d1-ac46-f3591467eeda" file="config/${MULE_ENV}.yaml" />
	<http:request-config name="HTTP_Request_TravelOnTip_SystemAPI" doc:name="HTTP Request configuration" doc:id="14e4e259-e95c-4945-a41b-9d67d6e278dd" >
		<http:request-connection host="${travel.host}" port="${travel.port}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_FastGo_SystemAPI" doc:name="HTTP Request configuration" doc:id="068c6821-98bd-42db-b70a-af55f967e83a" >
		<http:request-connection host="${fast.host}" port="${fast.port}" />
	</http:request-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="e02b9731-f846-4a97-97a3-69ded9e24bc5" maxEntries="1000" entryTtl="10" entryTtlUnit="MINUTES" expirationInterval="5" />
	<ee:object-store-caching-strategy name="Caching_Strategy_Route" doc:name="Caching Strategy" doc:id="d2f94934-9a98-4eb3-a054-2083ba5eaefa" objectStore="Object_store" keyGenerationExpression='#[vars.transportCompany ++ vars.transportType ++ "Routes"]'/>
	<ee:object-store-caching-strategy name="Caching_Strategy_Schedules" doc:name="Caching Strategy" doc:id="819ceda6-a14c-4eb4-96c4-173737e4c649" objectStore="Object_store" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="d2a5adab-dc60-40f4-8492-e4702a0e986c" file="local.yaml" key="1234567812345678" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	
</mule>
